/* Overall Styles */
* {
  all: unset;
  font-family: mononoki Nerd Font;
  font-size: 18px;
}

.river {
  /* background-color: #222222; */
  background-color: transparent;
  color: #919191;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 0;
  margin-top:0;

  /* Module Area Styles */
  .left_modules {
    padding: 0 9px 0 9px;
  }

  .right_modules {
    padding: 0 9px 0 9px;
  }

  /* Module Specific Styles */
  .separ {
    padding: 0 9px 0 9px;
  }
}

.niri {
  background-color: #1d1f21;
  border-radius: 16px;
  padding: 8px;
  border-style: solid;
  border-width: 2px;
  border-color: #444444;

  color: #bbbbbb;

  scale trough {
    all: unset;
    background-color: #333333;
    border-radius: 4px;
    min-height: 100px;
    min-width: 8px;
    margin: .3rem 0 .3rem 0;
  }
  
  scale trough highlight {
    background-color: #bbbbbb;
    border-radius: 5px;
  }

  .h-slider trough {
    min-height: 8px;
    min-width: 20px;
  }

  .bat-text {
    font-size: 12px;
  }

  .workspace {
    font-size: 20px;
  }
}
