#![enable(implicit_some)]
#![enable(unwrap_newtypes)]
#![enable(unwrap_variant_newtypes)]
(
    default_album_art_path: None,
    draw_borders: false,
    show_song_table_header: false,
    symbols: (song: "", dir: "", marker: "\u{e0b0}"),
    layout: Split(
        direction: Vertical,
        panes: [
            (
                pane: Pane(Header),
                size: "1",
            ),
            (
                pane: Pane(TabContent),
                size: "100%",
            ),
            (
                pane: Pane(ProgressBar),
                size: "1",
            ),
        ],
    ),
    progress_bar: (
        symbols: ["", "⭘", " "],
        track_style: (bg: None),
        elapsed_style: (fg: "green", bg: None),
        thumb_style: (fg: "green", bg: None),
    ),
    scrollbar: (
        symbols: ["", "", "", ""],
        track_style: (),
        ends_style: (),
        thumb_style: (),
    ),
    browser_column_widths: [20, 38, 42],
    text_color: "white",
    background_color: None,
    header_background_color: None,
    modal_background_color: None,
    modal_backdrop: false,
    tab_bar: (active_style: (fg: "black", bg: "white", modifiers: "Bold"), inactive_style: ()),
    borders_style: (fg: None),
    highlighted_item_style: (fg: "blue", modifiers: "Bold"),
    current_item_style: (fg: "black", bg: "white", modifiers: "Bold"),
    highlight_border_style: (fg: None),
    song_table_format: [
        (
            prop: (kind: Property(Artist), style: (fg: "white"), default: (kind: Text("Unknown"))),
            width: "25%",
            alignment: Left,
        ),
        (
            prop: (kind: Property(Title), style: (fg: "white"), default: (kind: Text("Unknown"))),
            width: "75%",
        ),
    ],
    header: (
        rows: [
            (
                left: [
                    (kind: Text("["), style: (fg: "white", modifiers: "Bold")),
                    (kind: Property(Status(State)), style: (fg: "green", modifiers: "Bold")),
                    (kind: Text("]"), style: (fg: "white", modifiers: "Bold"))
                ],
                center: [
                    (kind: Property(Song(Artist)), style: (fg: "white", modifiers: "Bold"),
                        default: (kind: Text("Unknown"), style: (fg: "white", modifiers: "Bold"))
                    ),
                    (kind: Text(" - ")),
                    (kind: Property(Song(Title)), style: (fg: "white", modifiers: "Bold"),
                        default: (kind: Text("No Song"), style: (fg: "white", modifiers: "Bold"))
                    )
                ],
                right: [
                    (kind: Text("Vol: "), style: (fg: "white", modifiers: "Bold")),
                    (kind: Property(Status(Volume)), style: (fg: "white", modifiers: "Bold")),
                    (kind: Text("% "), style: (fg: "white", modifiers: "Bold"))
                ]
            )
        ],
    ),
)
