#![enable(implicit_some)]
#![enable(unwrap_newtypes)]
#![enable(unwrap_variant_newtypes)]
(
    address: "127.0.0.1:6600",
    password: None,
    theme: Some("theme"),
    cache_dir: None,
    // on_song_change: ["~/.config/rmpc/scripts/notify"],
    volume_step: 1,
    max_fps: 30,
    scrolloff: 0,
    wrap_navigation: false,
    enable_mouse: true,
    status_update_interval_ms: 1000,
    select_current_song_on_change: true,
    album_art: (
        method: Auto,
        disabled_protocols: ["http://", "https://"],
        vertical_align: Center,
        horizontal_align: Center,
    ),
    keybinds: (
        global: {
            ":":       CommandMode,
            ",":       VolumeDown,
            "s":       Stop,
            ".":       VolumeUp,
            "<Tab>":   NextTab,
            "<S-Tab>": PreviousTab,
            "1":       SwitchToTab("Home"),
            "2":       SwitchToTab("Directories"),
            "3":       SwitchToTab("Playlists"),
            "4":       SwitchToTab("Artists"),
            "5":       SwitchToTab("Albums"),
            "6":       SwitchToTab("Album Artists"),
            "7":       SwitchToTab("Genre"),
            "8":       SwitchToTab("Queue"),
            "9":       SwitchToTab("Show"),
            "0":       SwitchToTab("Search"),
            "q":       Quit,
            ">":       NextTrack,
            "p":       TogglePause,
            "<":       PreviousTrack,
            "f":       SeekForward,
            "z":       ToggleRepeat,
            "x":       ToggleRandom,
            "c":       ToggleConsume,
            "v":       ToggleSingle,
            "b":       SeekBack,
            "~":       ShowHelp,
            "I":       ShowCurrentSongInfo,
            "O":       ShowOutputs,
            "P":       ShowDecoders,
        },
        navigation: {
            "e":         Up,
            "n":         Down,
            "h":         Left,
            "i":         Right,
            "<Up>":      Up,
            "<Down>":    Down,
            "<Left>":    Left,
            "<Right>":   Right,
            "<C-e>":     PaneUp,
            "<C-n>":     PaneDown,
            "<C-h>":     PaneLeft,
            "<C-i>":     PaneRight,
            "<C-u>":     UpHalf,
            "N":         PreviousResult,
            "a":         Add,
            "A":         AddAll,
            "r":         Rename,
            "n":         NextResult,
            "g":         Top,
            "<Space>":   Select,
            "<C-Space>": InvertSelection,
            "G":         Bottom,
            "<CR>":      Confirm,
            "u":         FocusInput,
            "J":         MoveDown,
            "<C-d>":     DownHalf,
            "/":         EnterSearch,
            "<C-c>":     Close,
            "<Esc>":     Close,
            "K":         MoveUp,
            "D":         Delete,
        },
        queue: {
            "D":       DeleteAll,
            "<CR>":    Play,
            "<C-s>":   Save,
            "a":       AddToPlaylist,
            "d":       Delete,
            "i":       ShowInfo,
            "C":       JumpToCurrent,
        },
    ),
    search: (
        case_sensitive: false,
        mode: Contains,
        tags: [
            (value: "any",         label: "Any Tag"),
            (value: "artist",      label: "Artist"),
            (value: "album",       label: "Album"),
            (value: "albumartist", label: "Album Artist"),
            (value: "title",       label: "Title"),
            (value: "filename",    label: "Filename"),
            (value: "genre",       label: "Genre"),
        ],
    ),
    artists: (
        album_display_mode: SplitByDate,
        album_sort_by: Date,
    ),
    tabs: [
        (name: "Home", pane: Split(direction: Horizontal, panes: [
                    (size: "70%", borders: "NONE", pane: Split(direction: Vertical,panes: [
                                (size: "3", borders: "ALL", pane: Component("custom_song_table_header")),
                                (size: "100%", borders: "ALL", pane: Pane(Queue)),
                            ])
                    ),
                    (size: "30%", borders: "NONE", pane: Split(direction: Vertical, panes: [
                                (size: "0.45r", borders: "ALL", pane: Pane(AlbumArt)),
                                // (size: "15%", borders: "NONE", pane: Pane(Lyrics)),
                                (size: "100%", borders: "NONE", pane: Pane(Cava)),
                            ])
                    ),
                ])
        ),
        (name: "Directories", pane: Split(direction: Horizontal,panes: [
                    (size: "100%", borders: "ALL", pane: Pane(Directories)),
                ])
        ),
        (name: "Playlists", pane: Split(direction: Horizontal, panes: [
                    (size: "100%", borders: "ALL", pane: Pane(Playlists)),
                ])
        ),
        (name: "Artists", pane: Split(direction: Horizontal, panes: [
                    (size: "100%", borders: "ALL", pane: Pane(Artists)),
                ])
        ),
        (name: "Albums", pane: Split(direction: Horizontal, panes: [
                    (size: "100%", borders: "ALL", pane: Pane(Albums)),
                ])
        ),
        (name: "Album Artists", pane: Split(direction: Horizontal, panes: [
                    (size: "100%", borders: "ALL", pane: Pane(AlbumArtists)),
                ])
        ),
        (name: "Genre", pane: Split(direction: Horizontal, panes: [
                    (size: "100%", borders: "ALL", pane: Pane(Browser(root_tag: "genre", separator: ";"))),
                ])
        ),
        (name: "Queue", pane: Split(direction: Horizontal, panes: [
                    (size: "100%", borders: "ALL", pane: Pane(Queue))
                ])
        ),
        (name: "Show",pane: Split(direction: Vertical, panes: [
                    (size: "50%", pane: Split(direction: Horizontal, panes: [
                                (size: "22%", borders: "ALL", pane: Pane(Queue)),
                                (size: "56%", borders: "ALL", pane: Pane(Lyrics)),
                                (size: "22%", borders: "ALL", pane: Pane(AlbumArt)),
                            ])
                    ),
                    (size: "50%", borders: "ALL", pane: Pane(Cava)),
                ])
        ),
        (name: "Search", pane: Split(direction: Horizontal, panes: [
                    (size: "100%", borders: "ALL", pane: Pane(Search)),
                ])
        ),
    ],
    cava: (
        framerate: 60, autosens: true, sensitivity: 100,
        lower_cutoff_freq: 50, higher_cutoff_freq: 10000,
        input: (
            method: Fifo,
            source: "/tmp/mpd.fifo",
            sample_rate: 44100,
            channels: 2,
            samble_bits: 16,
        ),
        smoothing: (
            noise_reduction: 35,
        ),
        eq: []
    ),
)

